services:
  web:
    command: gunicorn tiny_cms.wsgi:application -c /app/gunicorn.conf.py
    env_file:
      - ./.env.prod
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: '1.0'
        reservations:
          memory: 256M
          cpus: '0.5'
    volumes:
      - ./deploy/gunicorn.conf.py:/app/gunicorn.conf.py:ro
    restart: unless-stopped
  
  nginx:
    build: ./nginx
    depends_on:
      - web
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./app/static:/var/www/static
      - ./media:/var/www/media
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    networks:
      - app_network
    restart: unless-stopped
  
  # certbot:
  #   image: certbot/certbot
  #   volumes:
  #     - ./certbot/conf:/etc/letsencrypt
  #     - ./certbot/www:/var/www/certbot
  #   depends_on:
  #     - nginx
  #   command: certonly --webroot -w /var/www/certbot --force-renewal -d dl-blog.ru -d www.dl-blog.ru --email railot116@gmail.com --agree-tos

  db:
    env_file:
      - ./.env.prod
    restart: unless-stopped
