{% load sekizai_tags %}

{% addtoblock "css" %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
{% endaddtoblock %}
{% addtoblock "js_footer" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>
{% endaddtoblock %}

<label class="form-label mb-2">{{ field.label }}</label>
<!-- ОДИНОЧНЫЙ ВЫБОР -->
<select class="form-control select2-multiple" 
        data-field-type="select"
        data-field-id="{{ field.id }}"
        name="{{ field.field_name }}"
        {% if multiple %}multiple{% endif %}
        data-placeholder="Выберите...">
    <option></option>
    <!-- Опции загрузятся через AJAX -->
</select>
