<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"> -->

<label class="form-label mb-2">{{ field.label }}</label>
<!-- ОДИНОЧНЫЙ ВЫБОР -->
<select class="form-control select2-multiple" 
        data-field-type="select"
        data-field-id="{{ field.id }}"
        name="{{ field.field_name }}"
        {% if multiple %}multiple{% endif %}
        data-placeholder="Выберите...">
    <option></option>
    <!-- Опции загрузятся через AJAX -->
</select>
